<div class="text-layout">
    <h1>Pipe de Decimales y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el CommonModule.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del Presente año">
        <i class="pi pi-dollar"></i>
        {{(salesNumber+1000000  ) | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="del Presente año">
        {{(salesNumber+1500000  ) | currency:'CAD':'symbol-narrow':'1.4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia Porcentual"
                subheader="del Presente año">
        {{ salesPercentage | percent:'2.2-2' }}
        </p-card>
    </div>
</div>
